# --- C++ ---
# Compiled executables
main
a.out

# Debugging symbols (macOS)
*.dSYM/

# --- Python ---
# Virtual Environments (CRITICAL TO IGNORE)
venv/
env/

# Python Cache Files
__pycache__/
*.pyc

# --- IDEs ---
.vscode/